/* PARTE SUPERIOR DO SITE */
.titulo {
    text-align: center;
    color: greenyellow;
}
.topo{
    background-color: black;
    height: 100px;
} 
/* PARTE CENTRAL DO SITE */
.corpo {
    background-color: white;
    

}
.subTitulo{
    text-align: center;
    color:black;
}

/* PARTE INFERIOR DO SITE */
.rodape{
    background-color: green;
    height: 100px;
} 
.texto {
    color: black;
    text-align: center;
}